* {
	box-sizing: border-box;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	font-size: 2rem;
}
body {
	/* background: linear-gradient(green, olive); */
	background-image: url("../images/logo.jpg");
	background-repeat: no-repeat;
	width:100vw;
	height:100vh;
	background-attachment:fixed;
	background-position:center;
	margin-left:5rem;
	margin-right:5rem;
	/*opacity:0.9;*/
}
.name-header{
	font-family: "Stardos Stencil";
	color:white;
	margin-top:2rem;
	margin-bottom:2rem;
	background-color:olive;
	text-align:center;
}
.navigation{
	padding:1rem;
	background-color:olive;
}
.home-main{
	text-align: center;
	background-color:olive;
	margin-top:2rem;
}

.contact-main{
	text-align: center;
	background-color:olive;
	margin-top:2rem;
}
.article-header{
	font-family: "Stardos Stencil";
	text-align:center;
}
h2{
	color:white;
}
.main-photo{
	background-color:olive;
	padding-bottom: 2rem;
	margin-top:2rem;
}
img{
	padding-top:2rem;
	margin-bottom:2rem;
}
footer{
	margin-top:2rem;
	margin-bottom:2rem;
	background-color:olive;
}
aside{
	margin-top:2rem;
	background-color:olive;
}
.map{
	max-height: 248px;
}
.main-foot *{
	max-height: 186px
}
.address {
	max-height: 250px;
	text-align:center;
	margin-top:2rem;
}
.social-media{
	max-height: 250px;
	text-align:center;
	margin-top:2rem;
}
.address p{
	font-size:1.5rem;
}
.policy{
	text-align:center;
	background-color: olive;
	margin-top:2rem;
	margin-bottom: 2rem;
}
.policy p{
	font-size:1rem;
	margin:0;
}
