* {
	box-sizing: border-box;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	font-size: 2rem;
}
body {
	/* background: linear-gradient(green, olive); */
	background-image: url("../images/logo.jpg");
	background-repeat: no-repeat;
	width:100vw;
	height:100vh;
	background-attachment:fixed;
	background-position:center;
	margin-left:5rem;
	margin-right:5rem;
}
.name-header{
	font-family: "Stardos Stencil";
	margin-top:2rem;
	margin-bottom:2rem;
	background-color:olive;
	text-align:center;
}
.name-header img{
	max-height:15vh;
	max-width:10vw;
	padding:1rem;
}
.navigation{
	padding:1rem;
	background-color:olive;
}
.home-main{
	background-color:olive;
}
.article-header{
	text-align:center;
}
.img-holder{
	width:100%;
}
img{
	padding:2rem;
	background-color:olive;
	margin:2rem;
}
footer{
	position:fixed;
	bottom:0;
}
.address p{
	margin:0;
	font-size:1rem;
	text-align:center;
}
.policy p{
	margin:0;
	font-size:1rem;
	text-align:center;
}